<div style="background-color: rgba(221, 232, 236, 0.807);">
  <h1></h1>
<h2 style="text-align:center">Read the Conversations Below and Answer the Questions!</h2>
<div class="card mx-auto" style= "width: 700px">
  <h1> </h1>
<!--QUESTION 1-->
<head>
    <title>Centered Card Example</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="text-muted">You: What is my favorite color?</p>
              <p class="text-primary">IlluminAIte: I don't know, that isn't on the internet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

<div class= "text-center">
  <h1> </h1>
      <h4>What should you have said to Illumin-AI-te instead?</h4>
      <ul class="choices">
        <li>
          <button class="btn button1" [class.active]="isButtonClicked[0]" (click)="toggleButton(0)">
            Blue
          </button>
        </li>
        <li>
         <button class="btn button2" [class.active]="isButtonClicked[1]" (click)="toggleButton(1)">
          My favorite color is blue
        </button>
        </li>
        <li>
          <button class="btn button3" [class.active]="isButtonClicked[2]" (click)="toggleButton(2)">
            Purple
          </button>
        </li>
      </ul>
  </div>

  <!--QUESTION 2-->
  <head>
    <title>Centered Card Example</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="text-muted">You: What are the answers to my algebra homework?</p>
              <p class="text-primary">Illumin-AI-te: I don't know, but I can help you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

<ul class="text-center">
  <h1></h1>
      <h4>What should you have said to IlluminAIte instead?</h4>
      <ul class="choices">
        <li>
          <button class="btn button4" [class.active]="isButtonClicked[3]" (click)="toggleButton(3)">
            I don't know how Algebra works. Can you teach me?
          </button>
        </li>
        <li>
          <button class="btn button5" [class.active]="isButtonClicked[4]" (click)="toggleButton(4)">
            Do my homework for me
          </button>
      </ul>


 