ul.quiz {
    list-style: square;
}

ul.choices{
    list-style: none;
    text-align: left;
}
.font-italic{
    font-style: italic !important;
}


.btn {
    /* Add styles for the default state */
    border: 1px solid black; /* Border styles for the default state */
    padding: 3px 10px; /* Adjust padding to control button size */
    font-size: 14px; /* Adjust font size to control button size */
    margin-bottom: 8px;
    margin-top: 8px;
  }
  
  .btn:last-child {
    margin-right: 0; /* Remove right margin for the last button */
  }
  
  .btn.active.button1, .btn.active.button3, .btn.active.button5 {
    background-color: red; /* Color for Button 1 */
  }
  
  .btn.active.button2, .btn.active.button4 {
    background-color: green; /* Color for Button 2 */
  }
  
