

<p style="text-align:center">Read the Conversations Below and Answer the Questions!</p>

<!--QUESTION 1-->
<head>
    <title>Centered Card Example</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="text-muted">You: What is my favorite color?</p>
              <p class="text-primary">IlluminAIte: I don't know, that isn't on the internet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

<ul class="quiz">
    <li>
      <h4>What should you have said to IlluminAIte instead?</h4>
      <ul class="choices">
        <li>
          <label><input type="radio" name="question0" value="A" /><span>Blue</span></label>
        </li>
        <li>
          <label><input type="radio" name="question0" value="B" /><span>My favorite color is blue</span></label>
        </li>
        <li>
          <label><input type="radio" name="question0" value="C" /><span>Purple</span></label>
        </li>
      </ul>
    </li>
  </ul>

  <!--QUESTION 2-->
  <head>
    <title>Centered Card Example</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="text-muted">You: What are the answers to my algebra homework?</p>
              <p class="text-primary">IlluminAIte: I don't know, but I can help you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

<ul class="quiz">
    <li>
      <h4>What should you have said to IlluminAIte instead?</h4>
      <ul class="choices">
        <li>
          <label><input type="radio" name="question0" value="A" /><span>I don't know how algebra works, can you teach me?</span></label>
        </li>
        <li>
          <label><input type="radio" name="question0" value="B" /><span>Do my homework for me</span></label>
        </li>
      </ul>
    </li>
  </ul>

 