<head>
    <style>
    h1 {text-align: center;
        font-family: sans-serif;
        color: blue;
        margin: 60px;
    }
    </style>
    </head>
<h1>Readi AI - BuffaloPrep</h1>

<div style="background: ghostwhite; 
            font-size: 20px; 
            padding: 50px; 
            border: 1px solid lightgray; 
            margin: 60px;">
  Hello! This is Readi AI, a chatbot for teaching students how to safely and effectively use AI. Just type in a question, and Readi AI will respond as best as it can to your question.
  Remember: the chatbot won't always give you the right answer!
</div>