<head>
    <style>
    h1 {text-align: center;
        font-family: sans-serif;
        color: blue;
        margin: 60px;
    }
    </style>
    </head>
<h1>Readi AI - BuffaloPrep</h1>

<div style="background: ghostwhite; 
            font-size: 20px; 
            padding: 50px; 
            border: 1px solid lightgray; 
            margin: 60px;">
  Hello! This is Readi AI, a chatbot for teaching students how to safely and effectively use AI. Just type in a question, and Readi AI will respond as best as it can to your question.
  Remember: the chatbot won't always give you the right answer!
</div>


<p style="text-align:center">Read the Below Conversations and Answer the Questions!</p>
<!--SAMPLE INPUT/OUTPUT WITH QUESTION-->
<head>
  <title>Centered Card Example</title>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Input: Sample ChatBot Input</p>
            <p class="card-text">Output: Sample ChatBot Output.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<ul class="quiz">
    <li>
        <h4>Which Input Would Have Been Clearer?</h4>
        <ul class="choices">
            <li>
                <label
                    ><input type="radio" name="question0" value="A" /><span
                        >2</span
                    ></label
                >
            </li>
            <li>
                <label
                    ><input type="radio" name="question0" value="B" /><span
                        >1</span
                    ></label
                >
            </li>
            <li>
                <label
                    ><input type="radio" name="question0" value="C" /><span
                        >3</span
                    ></label
                >
            </li>
            <li>
                <label
                    ><input type="radio" name="question0" value="D" /><span
                        >4</span
                    ></label
                >
            </li>
        </ul>
    </li>
</ul>
<!--SAMPLE INPUT/OUTPUT WITH QUESTION-->
<head>
    <title>Centered Card Example</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">Input: Sample ChatBot Input</p>
              <p class="card-text">Output: Sample ChatBot Output.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  
  
  <ul class="quiz">
      <li>
          <h4>Which Input Would Have Been Clearer?</h4>
          <ul class="choices">
              <li>
                  <label
                      ><input type="radio" name="question0" value="A" /><span
                          >2</span
                      ></label
                  >
              </li>
              <li>
                  <label
                      ><input type="radio" name="question0" value="B" /><span
                          >1</span
                      ></label
                  >
              </li>
              <li>
                  <label
                      ><input type="radio" name="question0" value="C" /><span
                          >3</span
                      ></label
                  >
              </li>
              <li>
                  <label
                      ><input type="radio" name="question0" value="D" /><span
                          >4</span
                      ></label
                  >
              </li>
          </ul>
      </li>
  </ul>
<!--SAMPLE INPUT/OUTPUT WITH QUESTION-->
<head>
    <title>Centered Card Example</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">Input: Sample ChatBot Input</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  
  
  <ul class="quiz">
      <li>
          <h4>Which Output would the ChatBot Most Likely Give to this Input?</h4>
          <ul class="choices">
              <li>
                  <label
                      ><input type="radio" name="question0" value="A" /><span
                          >2</span
                      ></label
                  >
              </li>
              <li>
                  <label
                      ><input type="radio" name="question0" value="B" /><span
                          >1</span
                      ></label
                  >
              </li>
              <li>
                  <label
                      ><input type="radio" name="question0" value="C" /><span
                          >3</span
                      ></label
                  >
              </li>
              <li>
                  <label
                      ><input type="radio" name="question0" value="D" /><span
                          >4</span
                      ></label
                  >
              </li>
          </ul>
      </li>
  </ul>
<!--SAMPLE INPUT/OUTPUT WITH QUESTION-->
<head>
    <title>Centered Card Example</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">Input: Sample ChatBot Input</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  
  
  <ul class="quiz">
      <li>
          <h4>Which Output would the ChatBot Most Likely Give to this Input?</h4>
          <ul class="choices">
              <li>
                  <label
                      ><input type="radio" name="question0" value="A" /><span
                          >2</span
                      ></label
                  >
              </li>
              <li>
                  <label
                      ><input type="radio" name="question0" value="B" /><span
                          >1</span
                      ></label
                  >
              </li>
              <li>
                  <label
                      ><input type="radio" name="question0" value="C" /><span
                          >3</span
                      ></label
                  >
              </li>
              <li>
                  <label
                      ><input type="radio" name="question0" value="D" /><span
                          >4</span
                      ></label
                  >
              </li>
          </ul>
      </li>
  </ul>
