<div style="background-color: #d2dfe6;">
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('https://t3.ftcdn.net/jpg/02/34/44/70/360_F_234447034_62SJUJd5fWnJLvQSBdkAxT8vIVYzJKzF.webp');
        height: 300px;
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Illumin<span class= "blue">AI</span>te</h1>
            <h4 class="mb-3">Buffalo Prep Learning Tool</h4>
          </div>
        </div>
      </div>
    </div>
  <div style="background: ghostwhite; 
            font-size: 20px; 
            padding: 50px; 
            border: 1px solid lightgray; 
            margin: 60px;">
  Hello! This is IlluminAIte, a chatbot for teaching students how to safely and effectively use AI. Just type in a question, and IlluminAIte will respond as best as it can to your question.
  Remember: AI doesn't always give you the right answer! They are a tool for you to find the answer yourself!
</div>
</div>